<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <div class="footer-cs">1600-7417</div>
            고객센터 운영시간 : 평일 오전 9:00 ~ 오후 5:00 (점심시간 12:00 ~ 13:00) 토, 일, 공휴일 휴무
            <span>I</span>
            FAX 031-712-6833
            <br>
            27642 충청북도 음성군 금왕읍 금일로 259 (주)대승아이앤피
            <span>I</span>
            대표 최석수
            <span>I</span>
            개인정보관리책임자 임흥순
            <br>
            사업자 등록번호 113-86-05213
            <a href="#none"
                onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1138605213', 'bizCommPop', 'width=750, height=950;');return false;"
                class="biz-check">[사업자정보확인]</a>
            <span>I</span>
            통신판매업 신고번호 제 2017-충북음성군-70호
            <br>
            <b>
                국민은행 710801-01-374433
                <span>I</span>
                우리은행 1005-403-255253
                <span>I</span>
                농협은행 355-0061-4650-23
                <span>I</span>
                예금주 (주)대승아이앤피
            </b>
            <div class="footer-copy">COPYRIGHT ⓒ (주)대승아이앤피, ALL RIGHTS RESERVED.</div>
        </div>
    </div>
</footer>