<header class="header">
    <nav class="nav-container">
        <a href="/index.html" class="logo">
            <img src="/logos/logo.webp" alt="따사룸 로고">
        </a>
        <button class="mobile-menu-toggle"><i class="fas fa-bars"></i></button>
        <ul class="nav-menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/about/about.html">About 따사룸</a></li>
            <li>
                <a href="#">TPU시공</a>
                <ul class="dropdown">
                    <li><a href="/pages/service/process.html">시공 절차</a></li>
                    <li><a href="/pages/service/estimate.html">예상 견적</a></li>
                    <li><a href="/pages/service/individual.html">개인시공상담</a></li>
                    <li><a href="/pages/service/institution.html">기관시공상담</a></li>
                </ul>
            </li>
            <li><a href="/pages/review/review.html">시공후기</a></li>
            <li>
                <a href="https://brand.naver.com/ddasaroom/" target="_blank">Shop</a>
                <ul class="dropdown">
                    <li><a href="https://brand.naver.com/ddasaroom/products/6092903705" target="_blank">롤매트(공식몰)</a></li>
                    <li><a href="https://brand.naver.com/ddasaroom/products/5994906898" target="_blank">퍼즐매트(공식몰)</a></li>
                    <li><a href="https://brand.naver.com/ddasaroom/products/4200445704" target="_blank">강아지롤매트(공식몰)</a></li>
                </ul>
            </li>
            <li><a href="/pages/service/individual.html" class="nav-button">개인견적문의</a></li>
            <li><a href="/pages/service/institution.html" class="nav-button">기관견적문의</a></li>
        </ul>
    </nav>
</header>
